<%= form_for @contact, :url => { :action => "send_contact_msg" }, :html => { :method => "post", :multipart => true } do |f| %>

  <div>
    <label>Got a question about the <%= @listing.title %>?</label>
    <%= f.text_area :message, placeholder: 'I need more info!' %>
  </div>

  <%= submit_tag 'Submit' %>
<% end %>