<%= form_for @contact, :url => { :action => "send_haggle_msg" }, :html => { :method => "post", :multipart => true } do |f| %>
  <div> 
    <label>You want that <%= @listing.title %>. Make it happen!</label>
    <%= f.text_area :message, placeholder: "I'll buy it for half that price... or would you be up for a trade?" %>
  </div>

  <%= submit_tag 'Haggle Away' %>
<% end %>