<section id="ProductListing"> 
  <%= render 'images' %>

  <div id="ProductInfo">
    <div class="title">
      <h1>Haggle <%= @listing_user.first_name %></h1>
    </div>
    
    <%= render 'haggleform' %>
  </div>
</section>