<div id="HomeContainer" class="contentwrapper">
  <section class="table-cell">
    <div class="icons">
        <!-- <span class="spacer"></span> -->
        <img src="/images/icon1.svg">
        <img src="/images/icon2.svg">
        <img src="/images/icon3.svg">
        <img src="/images/icon4.svg">
        <img src="/images/icon5.svg">
        <img src="/images/icon6.svg">
    </div>
    <div class="hometitle">
        <h1 class="h5">Thrift is a place to <%= link_to('buy', listings_path) %>, <%= link_to('sell', new_listing_path) %>, <%= link_to('borrow', new_request_path) %> and <%= link_to('lend', requests_path) %> all the things.</h1>
        <h2 class="h3">Yes, all the things. Even Alpaca.</h2>
    </div>
  </section>
</div>