<div id="BuyList">
  <h1 class="h5">Things for sale.</h1>
  <% if (@listings.size > 0) %>
    <ul id="ProductGrid">
      <% @listings.each do |l| %>
        <li class="saleproduct">
          <a href="<%= listing_path(l) %>">
            <div class="imgouter" style="background-image: url(<%= l.image_url %>);">
              <span class="spacer"></span>
            </div>
            <div class="listinginfo">
              <h1 class="h3"><%= l.title %></h1>
              <h2 class="h4">$<%= number_with_precision(l.price, :precision => 2) %></h2>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  <% else %>
    <h3>There are no Listings yet!</h3>
  <% end %>
</div>