/*Colors*/
/*Breaks*/
/*Mixins*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html {
  min-height: 100%;
  overflow-x: hidden; }

body {
  line-height: 1;
  background-color: #f7f7f7; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, h4, li, p, a, .h1, .h2, .h3, .h4, .h5, .p {
  color: #fff;
  -webkit-font-smoothing: antialiased; }

a {
  text-decoration: none; }

h1, h2, h3, h4, h5, li, a, .h1, .h2, .h3, .h4, .h5 {
  font-family: 'Inconsolata', sans-serif;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #ff3f3d; }

h1, .h1 {
  font-size: 42px;
  line-height: 1em; }

h2, .h2 {
  font-size: 25px;
  line-height: 1em; }

h3, .h3 {
  font-size: 20px;
  line-height: 1em; }

h4, .h4 {
  font-size: 16px;
  line-height: 1.45; }

h5, .h5 {
  font-size: 55px;
  line-height: 1em; }

p, .p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 17px;
  line-height: 1.55;
  color: #ff3f3d; }

#Wrapper {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  max-width: 1600px;
  overflow: hidden;
  background-color: #fff;
  position: relative; }

.btn {
  text-align: center;
  padding: 10px 20px;
  border: 2px #ff3f3d solid;
  border-bottom: 4px #ff3f3d solid;
  display: inline-block;
  margin: 15px 0 0;
  -webkit-transition: background-color 0.15s linear;
          transition: background-color 0.15s linear; }
  @media screen and (max-width: 640px) {
    .btn {
      padding: 15px 15px; } }
  .btn:hover {
    border: 2px #ff3f3d solid;
    background-color: #ff3f3d;
    border-bottom: 4px #ff3f3d solid;
    color: #fff; }

.contentwrapper {
  padding: 50px 50px 0 230px;
  position: relative;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  @media screen and (max-width: 980px) {
    .contentwrapper {
      padding: 100px 50px; } }
  .contentwrapper .search {
    position: absolute;
    top: 50px;
    right: 50px; }
    .contentwrapper .search textarea, .contentwrapper .search select, .contentwrapper .search input[type="date"], .contentwrapper .search input[type="datetime"], .contentwrapper .search input[type="datetime-local"], .contentwrapper .search input[type="email"], .contentwrapper .search input[type="month"], .contentwrapper .search input[type="number"], .contentwrapper .search input[type="password"], .contentwrapper .search input[type="search"], .contentwrapper .search input[type="tel"], .contentwrapper .search input[type="text"], .contentwrapper .search input[type="time"], .contentwrapper .search input[type="url"], .contentwrapper .search input[type="week"] {
      padding-left: 45px; }
    .contentwrapper .search span img {
      width: 15px;
      position: absolute;
      top: 18px;
      left: 18px; }

.btn2 {
  text-align: center;
  padding: 10px 20px;
  border: 2px #fff solid;
  border-bottom: 4px #fff solid;
  display: inline-block;
  margin: 15px 0 0;
  -webkit-transition: background-color 0.15s linear;
          transition: background-color 0.15s linear;
  color: #fff; }
  @media screen and (max-width: 640px) {
    .btn2 {
      padding: 15px 15px; } }
  .btn2:hover {
    border: 2px #fff solid;
    background-color: #fff;
    border-bottom: 4px #fff solid;
    color: #ff3f3d; }

#MainNav {
  margin: 0 auto;
  padding: 50px 0 0 60px;
  width: 150px;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 10; }
  #MainNav .logo {
    width: 40px;
    height: 40px;
    border: 4px #ff3f3d solid;
    display: block; }
  @media screen and (max-width: 980px) {
    #MainNav {
      display: none; } }

#Nav {
  margin: 30px 0 0;
  width: 100%;
  text-align: left; }
  #Nav li {
    margin: 0 0 20px; }
    #Nav li.login {
      margin: 35px 0 0;
      opacity: 0.6; }
      #Nav li.login:hover {
        opacity: 1; }
    #Nav li a {
      border-bottom: 2px #fff solid;
      -webkit-transition: border 0.15s linear;
              transition: border 0.15s linear;
      position: relative; }
      #Nav li a:after {
        position: absolute;
        top: 22px;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        height: 2px;
        width: auto;
        z-index: 10;
        -webkit-transform: translate3d(-10px, 0, 0);
                transform: translate3d(-10px, 0, 0);
        background-color: #ff3f3d;
        opacity: 0;
        -webkit-transition: 0.5s ease;
                transition: 0.5s ease; }
      #Nav li a.active:after {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        opacity: 1; }
      #Nav li a:hover:after {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        opacity: 1; }

#MobileNav {
  z-index: 60;
  width: 100%;
  display: none;
  position: absolute;
  width: 100%;
  display: none;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: transparent;
  -webkit-transition: 0.5s ease;
          transition: 0.5s ease; }
  @media screen and (max-width: 980px) {
    #MobileNav {
      display: block; } }
  #MobileNav .menubtn {
    position: absolute;
    top: 25px;
    left: 50px;
    width: 40px;
    height: 40px;
    border: 4px #ff3f3d solid;
    display: block;
    z-index: 100; }
  #MobileNav.open {
    background: rgba(255, 63, 61, 0.9); }
    #MobileNav.open #Nav2 {
      opacity: 1;
      pointer-events: auto; }

.line {
  position: absolute;
  height: 4px;
  width: auto;
  background: #ff3f3d;
  left: 5px;
  right: 5px;
  -webkit-transition: 0.2s all ease;
  transition: 0.2s all ease; }

.line-t {
  top: 8px; }

.line-m {
  top: 18px; }

.line-b {
  top: 28px; }

button:hover .line {
  background: #999; }

.menu-on .line-m, .menu-on:hover .line-m {
  opacity: 0; }

.menu-on .line {
  background: #fff;
  top: 19px; }

.menu-on .line-t {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg); }

.menu-on .line-b {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }

#Nav2 {
  position: absolute;
  z-index: 99;
  text-align: center;
  width: 100%;
  padding: 100px 0;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
          transition: opacity 0.5s ease; }
  #Nav2 .h1 {
    margin-bottom: 10px; }
    #Nav2 .h1 a {
      color: #fff; }

#HomeContainer {
  overflow: auto; }
  #HomeContainer .half {
    text-align: center;
    width: 48%;
    background-color: yellow;
    background-image: url('../images/barrelmoments01.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    -moz-box-sizing: border-box;
         box-sizing: border-box; }
    #HomeContainer .half.left {
      margin: 0 1% 0 0;
      float: left; }
    #HomeContainer .half.right {
      margin: 100px 0 0 1%;
      float: right; }
    #HomeContainer .half h1 {
      z-index: 2;
      position: absolute;
      top: 40%;
      left: 0;
      right: 0;
      color: #fff; }
    #HomeContainer .half:before {
      z-index: 3;
      position: absolute;
      top: 20px;
      bottom: 20px;
      right: 20px;
      left: 20px;
      content: '';
      border: 2px #fff solid; }
    #HomeContainer .half:after {
      z-index: 1;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      content: '';
      background-color: #ff3f3d;
      opacity: 0.85; }
  #HomeContainer span {
    display: block;
    padding-top: 100%; }

#ProductListing {
  display: inline-block;
  margin-bottom: 40px; }
  @media screen and (max-width: 1024px) {
    #ProductListing {
      margin-bottom: 0; } }

#Slideshow {
  width: 50%;
  max-width: 685px;
  float: left; }
  @media screen and (max-width: 1180px) {
    #Slideshow {
      width: 35%; } }
  @media screen and (max-width: 1024px) {
    #Slideshow {
      width: 100%;
      max-width: 100%; } }
  #Slideshow .simpleSlider {
    z-index: 1;
    clear: both;
    position: relative; }
    #Slideshow .simpleSlider li {
      width: 100%;
      float: left; }
      #Slideshow .simpleSlider li img {
        width: 100%;
        float: left;
        display: block;
        box-shadow: -8px 8px 0px #ff3f3d; }
    #Slideshow .simpleSlider .controls {
      opacity: 0;
      width: 100%;
      height: 20px;
      text-align: center;
      float: left;
      background: black;
      z-index: 9999; }
      #Slideshow .simpleSlider .controls span {
        width: 10px;
        height: 10px;
        display: inline-block;
        margin: 5px;
        background: white; }
        #Slideshow .simpleSlider .controls span:hover {
          cursor: pointer;
          background: yellow; }
      #Slideshow .simpleSlider .controls .active {
        background: yellow; }
  #Slideshow .thumbs {
    display: inline-block;
    padding: 5px 0; }
    #Slideshow .thumbs li:nth-child(2) {
      margin: 0 10px; }
    #Slideshow .thumbs li {
      background-image: url('../images/redsolo01.jpg');
      background-size: cover;
      background-position: center;
      display: inline-block;
      height: 75px;
      width: 75px; }

#ProductInfo {
  width: 50%;
  z-index: 2;
  position: relative;
  padding: 25px 0 0 60px;
  float: left;
  max-width: 600px;
  -moz-box-sizing: border-box;
       box-sizing: border-box; }
  @media screen and (max-width: 1180px) {
    #ProductInfo {
      width: 65%; } }
  @media screen and (max-width: 1024px) {
    #ProductInfo {
      padding: 25px 40px;
      text-align: center;
      width: 100%;
      max-width: 100%; } }
  #ProductInfo .link {
    position: relative; }
    #ProductInfo .link:after {
      position: absolute;
      content: "\203A \203A";
      top: 0;
      bottom: 0;
      right: -30px;
      color: #ff3f3d;
      -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
              transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
    #ProductInfo .link:hover:after {
      -webkit-transform: translate3d(10px, 0, 0);
              transform: translate3d(10px, 0, 0); }
  #ProductInfo .title h1 {
    border-bottom: 2px #ff3f3d solid;
    display: inline; }
  #ProductInfo .title {
    z-index: 2; }
  #ProductInfo .subinfo {
    margin: 35px 0 10px; }
    #ProductInfo .subinfo .h2 {
      margin: 5px 0 0; }
  #ProductInfo .haggle {
    margin: 0 0 0 15px; }
  #ProductInfo .story {
    margin: 30px 0; }

@media screen and (max-width: 1024px) {
  #MoreProducts {
    text-align: center; } }
#MoreProducts .all {
  display: inline-block;
  float: right;
  position: relative;
  margin-right: 15px; }
  @media screen and (max-width: 1024px) {
    #MoreProducts .all {
      display: none; } }
  #MoreProducts .all:before {
    content: '[';
    top: 0;
    left: -20px;
    bottom: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  #MoreProducts .all:after {
    content: ']';
    top: 0;
    right: -20px;
    bottom: 0;
    position: absolute;
    opacity: 0;
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            transition: all 500ms cubic-bezier(0.175, 0.885, 0.32, 1.275); }
  #MoreProducts .all:hover:before {
    left: -15px;
    opacity: 1; }
  #MoreProducts .all:hover:after {
    right: -15px;
    opacity: 1; }
#MoreProducts .all2 {
  text-align: center;
  display: none; }
  @media screen and (max-width: 1024px) {
    #MoreProducts .all2 {
      display: block; } }
#MoreProducts .h2 {
  display: inline-block; }
#MoreProducts .h3, #MoreProducts .h4 {
  color: fff; }
#MoreProducts .three {
  padding: 30px 0 30px 0;
  max-width: 1400px;
  font-size: 0;
  text-align: justify; }
  #MoreProducts .three:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0; }
  #MoreProducts .three .product {
    width: 22%;
    margin: 0;
    vertical-align: top;
    display: inline-block;
    position: relative; }
    @media screen and (max-width: 1024px) {
      #MoreProducts .three .product {
        width: 45%;
        margin-bottom: 35px; } }
    @media screen and (max-width: 640px) {
      #MoreProducts .three .product {
        width: 100%; } }
    #MoreProducts .three .product:hover .imgouter:after {
      background-color: rgba(255, 63, 61, 0.5); }
    #MoreProducts .three .product:hover .listinginfo {
      background-color: #ff3f3d; }
      #MoreProducts .three .product:hover .listinginfo h1, #MoreProducts .three .product:hover .listinginfo h2 {
        color: #fff; }
    @media screen and (max-width: 1024px) {
      #MoreProducts .three .product.gap {
        display: none; } }
    #MoreProducts .three .product .imgouter {
      background-image: url('../images/redsolo01.jpg');
      background-size: cover;
      background-position: center;
      position: relative; }
      #MoreProducts .three .product .imgouter span {
        display: block;
        padding-top: 100%; }
      #MoreProducts .three .product .imgouter:after {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        content: '';
        -webkit-transition: 0.5s ease;
                transition: 0.5s ease; }
    #MoreProducts .three .product .listinginfo {
      z-index: 3;
      position: relative;
      padding: 20px 10px;
      max-width: 80%;
      margin: -15px auto 0;
      text-align: center;
      border: 2px #ff3f3d solid;
      -webkit-transition: 0.5s ease;
              transition: 0.5s ease; }

#BuyList {
  width: 100%;
  display: inline-block;
  position: relative; }

#ProductGrid {
  margin-top: 65px;
  overflow: auto; }
  #ProductGrid li {
    width: 47%;
    margin: 0 0 45px;
    vertical-align: top;
    display: inline-block;
    position: relative;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    overflow: auto; }
    @media screen and (max-width: 640px) {
      #ProductGrid li {
        padding: 15px 15px; } }
    #ProductGrid li:nth-child(5n+1), #ProductGrid li:nth-child(5n+3), #ProductGrid li:nth-child(5n+4), #ProductGrid li:nth-child(5n+5) {
      float: left; }
    #ProductGrid li:nth-child(5n+2) {
      float: right;
      margin-top: 180px; }
    #ProductGrid li:nth-child(5n+3), #ProductGrid li:nth-child(5n+4) {
      margin: 15px 25px 30px;
      width: 20%; }
    #ProductGrid li:nth-child(5n+3) {
      margin-top: 150px; }
    #ProductGrid li:nth-child(5n+5) {
      margin-top: -100px;
      margin-left: 40%;
      margin-bottom: 100px; }
    #ProductGrid li:hover .imgouter:after {
      background-color: rgba(255, 63, 61, 0.5); }
    #ProductGrid li:hover .listinginfo {
      background-color: #ff3f3d; }
      #ProductGrid li:hover .listinginfo h1, #ProductGrid li:hover .listinginfo h2 {
        color: #fff; }
  #ProductGrid .imgouter {
    background-size: cover;
    background-position: center;
    position: relative; }
    #ProductGrid .imgouter span {
      display: block;
      padding-top: 100%; }
    #ProductGrid .imgouter:after {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: '';
      -webkit-transition: 0.5s ease;
              transition: 0.5s ease; }
  #ProductGrid .listinginfo {
    z-index: 3;
    position: relative;
    padding: 20px 10px;
    max-width: 80%;
    margin: -15px auto 0;
    text-align: center;
    border: 2px #ff3f3d solid;
    -webkit-transition: 0.5s ease;
            transition: 0.5s ease; }

.loadmore {
  width: 100%;
  padding: 0 0 50px;
  text-align: center; }

#BorrowList {
  width: 100%;
  display: inline-block; }

.accordion {
  border-bottom: 2px #ff3f3d solid;
  margin: 65px 0; }
  .accordion dt {
    border-top: 2px #ff3f3d solid;
    background-size: cover;
    background-position: center;
    overflow: auto;
    position: relative; }
    .accordion dt a {
      display: block;
      padding: 50px 0;
      min-height: 70px;
      -webkit-transition: background-color 0.15s ease;
              transition: background-color 0.15s ease;
      -webkit-transition: 0.5s ease;
              transition: 0.5s ease; }
      @media screen and (max-width: 640px) {
        .accordion dt a {
          padding-bottom: 35px; } }
      @media screen and (max-width: 450px) {
        .accordion dt a {
          padding-bottom: 30px; } }
      .accordion dt a.red {
        background-color: #ff3f3d; }
        .accordion dt a.red:hover {
          padding: 50px 0; }
        .accordion dt a.red .h1, .accordion dt a.red .h2 {
          color: #fff; }
      .accordion dt a:hover {
        background-color: #ff3f3d;
        padding: 60px 0; }
        .accordion dt a:hover .h1, .accordion dt a:hover .h2, .accordion dt a:hover h3 {
          color: #fff; }
    .accordion dt .info {
      z-index: 2;
      position: absolute;
      left: 40px;
      right: 40px;
      -webkit-transition: opacity 1s ease;
              transition: opacity 1s ease; }
      @media screen and (max-width: 768px) {
        .accordion dt .info {
          left: 20px;
          right: 20px; } }
      @media screen and (max-width: 640px) {
        .accordion dt .info {
          text-align: center;
          left: 0;
          right: 0; } }
      .accordion dt .info.dim {
        opacity: 0.4; }
      .accordion dt .info h1, .accordion dt .info h2 {
        text-transform: capitalize; }
      .accordion dt .info h2 {
        float: left; }
      .accordion dt .info h3 {
        float: right;
        position: relative;
        margin-top: 5px;
        font-size: 40px;
        -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
                transform: rotate(0);
        -webkit-transition: -webkit-transform 0.5s ease;
                transition: transform 0.5s ease;
        text-align: center;
        height: 40px;
        width: 40px; }
        @media screen and (max-width: 980px) {
          .accordion dt .info h3 {
            margin-top: 15px; } }
        @media screen and (max-width: 640px) {
          .accordion dt .info h3 {
            padding: 0; } }
        .accordion dt .info h3.flip {
          -webkit-transform: rotate(180deg);
              -ms-transform: rotate(180deg);
                  transform: rotate(180deg);
          color: #fff; }
      @media screen and (max-width: 640px) {
        .accordion dt .info h2, .accordion dt .info h3 {
          float: none; } }
  .accordion dd {
    position: relative;
    padding: 0 40px 30px; }
    .accordion dd.red {
      background-color: #ff3f3d; }
      .accordion dd.red h1, .accordion dd.red p {
        color: #fff; }
    @media screen and (max-width: 768px) {
      .accordion dd {
        padding: 15px 0 0; } }
    @media screen and (max-width: 640px) {
      .accordion dd {
        text-align: center; } }
    .accordion dd h1, .accordion dd p {
      color: #ff3f3d; }
    .accordion dd p {
      margin: 5px 0 0;
      width: 50%; }
      @media screen and (max-width: 768px) {
        .accordion dd p {
          margin: 0 20px 30px; } }
      @media screen and (max-width: 640px) {
        .accordion dd p {
          margin: 0 auto 30px;
          width: 90%; } }
    .accordion dd .btn2 {
      margin-top: 25px; }
    .accordion dd:last-of-type {
      position: relative; }

textarea, select, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-clip: padding-box;
  border: 2px solid #ff3f3d;
  -webkit-appearance: none;
  background-color: #fff;
  color: #ff3f3d;
  outline: 0;
  text-align: left;
  vertical-align: middle;
  box-shadow: none;
  padding: 10px 20px;
  -webkit-transition: 1s;
          transition: 1s;
  border-radius: 0;
  width: 250px; }

textarea:focus, input:focus {
  background-color: rgba(255, 63, 61, 0.1);
  text-overflow: ellipsis; }

input[placeholder] {
  text-overflow: ellipsis; }

::-moz-placeholder {
  text-overflow: ellipsis; }

input:-moz-placeholder {
  text-overflow: ellipsis; }

::-webkit-input-placeholder {
  color: rgba(255, 63, 61, 0.5); }

:-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 63, 61, 0.5); }

::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 63, 61, 0.5); }

:-ms-input-placeholder {
  color: rgba(255, 63, 61, 0.5); }

#Footer {
  margin: 50px 0 0;
  background-color: #ff3f3d;
  padding: 40px 0 40px;
  overflow: auto;
  text-align: center;
  position: relative; }
  #Footer img {
    width: 50px;
    -webkit-transition: 1s ease;
            transition: 1s ease; }
    #Footer img:hover {
      -webkit-transform: rotate(360deg);
          -ms-transform: rotate(360deg);
              transform: rotate(360deg); }
  #Footer h1 {
    color: #fff; }
    #Footer h1 .copyright {
      font-size: 20px; }
/*# sourceMappingURL=main.css.map */



html, 
body { 
  height: 100%; 
  min-height: 400px; 
}
body { 
  font-family: 'Inconsolata', sans-serif;
}
p.notice, 
p.alert { 
  background: #ff3f3d;
  color: #fff; 
  padding: 10px 60px; 
  width: 100%; 
}
.sign-in input[type="text"], 
.sign-in input[type="email"], 
.sign-in input[type="password"] { 
  padding: 5px; 
}
.main-container { 
  margin-left: 230px;
}
#Wrapper, 
.contentwrapper { 
  height: auto; 
  min-height: 400px; 
}

/* forms */ 

form { 
  max-width: 500px; 
}
form input, 
form textarea {
  font-size: 15px; 
}
form > div { 
  padding: 20px 0 10px;
  overflow: hidden;
}
form input[type="text"], 
form input[type="email"], 
form textarea { 
  font-family: 'Inconsolata', courier new, sans-serif;
  font-weight: bold; 
  width: 100%; 
}
form textarea { 
  height: 200px; 
}
form label { 
  display: block; 
  margin-bottom: 10px; 
}
form input[type="submit"] { 
  margin-top: 30px;
  font-family: 'Inconsolata', courier new, sans-serif;
  border: 0; 
  background: #ff3f3d;
  color: #fff; 
  padding: 15px 30px;
}
form .request table {
  width: 100%; 
}
form .request td { 
  white-space: nowrap;
}
form .request input { 
  border-top: 0; 
  border-left: 0; 
  border-right: 0; 
  margin-left: -10px; 
}
form input.short { 
  width: 98%;
}